---
on:
  - push
  - pull_request
name: run myself

jobs:
  go:
    name: go
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # select some random versions i guess lol
        version: ['latest']

    steps:
      - name: checkout my code
        uses: actions/checkout@v2

      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14'

      - name: install, build
        run: |
          yarn
          yarn run build

      - name: run
        uses: ./
        with:
          version: ${{ matrix.version }}

      - name: expose what i did!
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.run.outputs.version }}-artifact
          path: ./${{ steps.run.outputs.filename }}
